 body {
     max-width: 1400px;
     margin: auto;
     font-family: 'Space Grotesk', sans-serif;
 }


 header {
     color: black;
     margin: 20px;
     display: flex;
     justify-content: space-between;

 }

 .headerbutton {
     text-decoration: none;
     border: 1.5px black solid;
     border-radius: 10px;
     padding: 10px 15px;
     color: #000;
 }

 .menu-toggle {
     font-size: 30px;
     cursor: pointer;
     display: none;
     z-index: 1001;
 }

 .menu {
     display: flex;
     gap: 15px;
     align-items: center;
 }

 .menu-item a {
     color: black;
     text-decoration: none;
     padding: 10px;

 }

 .menu-item a:hover {
     background-color: #B9FF66;
     border-radius: 5px;
 }

 /* Mobile styles */
 @media (max-width: 768px) {
     .menu-toggle {
         display: block;
     }

     .menu {
         display: none;
         flex-direction: column;
         background-color: #B9FF66;
         position: fixed;
         top: 0;
         left: 0;
         height: 100vh;
         width: 100%;
         padding-top: 5rem;
         text-align: center;
         z-index: 1000;
     }

     .menu.active {
         display: flex;
     }

     .menu-item {
         margin: 1.5rem 0;
     }

     .menu-item a {
         font-size: 1.5rem;
     }

     .headerbutton {
         display: none;
     }
 }