.container {
    background-color: lightblue;
    width: 60%;
    border-radius: 10px;
}

div {
    margin: 20px;
}

h2 {
    margin-left: 20px;
}

#fname {
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px;
}

#lname {
    border-radius: 20px;
    padding: 10px;
}

#email {
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px;
}

#url {
    border-radius: 20px;
    padding: 10px;
}

#dobirth {
    border-radius: 20px;
    padding: 10px;
}

#bio {
    border-radius: 20px;
    padding: 10px;
}

.submit {
    background: lightyellow;
    border-radius: 15px;
    padding: 5px 10px;
}