.body {
    max-width: 1400px
}

.heading {
    text-align: center;
}

.heading p {
    color: grey;
}

.content {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: auto;
}

.scontent h3 {
    font-size: 20px;
    color: grey;
}

.scontent h4 {
    color: rgb(64, 138, 64);
}

.scontent {
    background-color: rgb(229, 226, 226);
    border-radius: 10px;
    display: flex;
}