.body {
    max-width: 1400px
}

.heading {
    text-align: center;
}


.content {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: auto;
}

.scontent h3 {
    font-size: 20px;
    color: grey;
}

.scontent h4 {
    color: rgb(103, 224, 103);
}

.scontent {
    background-color: rgb(196, 191, 191);
    border-radius: 10px;
    display: flex;
}