 body {
     max-width: 1400px;
     margin: auto;
     font-family: 'Space Grotesk', sans-serif;
 }

 /* header styling */
 .header {
     display: flex;
     justify-content: space-between;
 }

 .header div {
     display: flex;
     gap: 30px;
     font-family: "Space Grotesk", sans-serif;
     align-items: center;
     font-size: 15px;
     font-weight: 450;
     padding: 15px 35px;
 }

 /* header logo styling width */
 .headerlogo {
     width: 200px;
 }

 /* headerbutton */
 .headerbutton {
     text-decoration: none;
     border: 1.5px black solid;
     border-radius: 10px;
     padding: 15px 20px;
     color: #000;
 }

 .header .hamburger {
     display: none;
 }

 .menu .submenu {
     display: none;
     position: absolute;
     top: 35px;
     flex-direction: column;
     width: 50px;
     background-color: rgb(181, 255, 70);
     border-radius: 10px;
 }

 .header .menu {
     padding: 0;
     margin: 0 10px;
     position: relative;
     display: inline-block;
 }


 .menu:hover .submenu {
     display: block;
 }


 @media screen and (max-width:780px) {
     .header .headerclick {
         display: none;
     }

     .header .hamburger {
         display: block;
     }
 }