 body {
     max-width: 1400px;
     margin: auto;
     font-family: 'Space Grotesk', sans-serif;
 }

 /* header styling */
 .header {
     display: flex;
     justify-content: space-between;
 }

 .header div {
     display: flex;
     gap: 30px;
     font-family: "Space Grotesk", sans-serif;
     align-items: center;
     font-size: 15px;
     font-weight: 450;
     padding: 15px 35px;
 }

 /* header logo styling width */
 .headerlogo {
     width: 200px;
 }

 /* headerbutton */
 .headerbutton {
     text-decoration: none;
     border: 1.5px black solid;
     border-radius: 10px;
     padding: 15px 20px;
     color: #000;
 }

 .header .hamburger {
     display: none;
     background-color: #f8f8f8;
     padding: 10px;
     border-radius: 8px;
 }

 .hamburger-menu {
     display: none;
     position: absolute;
     width: 160px;
     z-index: 1;
 }


 .hamburger:hover .hamburger-menu {
     display: block;
 }

 @media screen and (max-width: 780px) {

     .header .headerclick {
         display: none;
     }

     .header .hamburger {
         display: block;
     }
 }