body {
    max-width: 1200px;
    margin: auto;
    background-color: rgb(220, 215, 215);
    /* 老操作 */
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 150px;
}

/* 大卡 */
.card {
    position: relative;
    width: 300px;
    border-radius: 30px;
    padding: 20px;
    background-color: #fff;
}

/* 国家图片 */
.card img {
    width: 100%;
    border-radius: 15px;
}

/* 标题 */
.card h3 {
    font-size: 18px;
    margin: 15px 2px 8px;
    /* 上左下右 每个位置都不一样所以调三个 */
}

/* info */
.card p {
    font-size: 13px;
    color: #777;
    margin: 4px 2px 8px;
    /* 上左下右 每个位置都不一样所以调三个 */
}

/* icon 图片 */
.card .icon {
    width: 40%;
}

/* 下面的人数 */
.ppl {
    display: flex;
    align-items: center;
    gap: 6px;
}

.card .buildingicon {
    width: 15px;
}

/* 人数信息 */
.people {
    font-size: 13px;
    color: #555;
}


/* 小卡 */
.card .box {
    position: absolute;
    top: 200px;
    right: 350px;
    background: gold;
    border-radius: 15px;
    padding: 5px 10px;
    width: 180px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
}



/* 左侧图片 */
.card .box img {
    width: 40px;
    height: auto;
}

.box-content p {
    color: grey;
}

.box-content img {
    width: 100%;
}