  /* 限制那个page的width 不会宽到哪里去 */
  body {
      max-width: 1200px;
      margin: auto;
  }

  /* 标题 */
  .heading {
      text-align: center;
      /* 让字全部在中间 */
      margin-top: 30px;
      margin-bottom: 15px;
      /* 调上下左右空间 */
  }

  .heading h1 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #222;
  }

  .heading p {
      color: gray;
      font-size: 16px;
      line-height: 1.6;
      max-width: 650px;
      /* 限制paragraph一个宽度 */
      margin: auto;
      /* 为了让paragraph在中间所以用margin：auto（自动找中间） */
  }

  /* content */
  .content {
      display: flex;
      /* 让他们可以flex着排 */
      justify-content: space-between;
      /* 分布在均匀的er一个位置 */
      gap: 10px;
      margin: auto;
      /* 找中间lo */
      padding: 20px;
      flex-wrap: wrap;
      /* 让他掉下来 */
      justify-content: center;
      /* 在中间 */
      gap: 10px;
      max-width: 1200px;
      /* 不要太宽 */
      row-gap: 80px;
  }

  .card {
      width: 350px;
      /* set width for everything一样宽度 不set就会乱乱来 */
      display: flex;
      flex-direction: column;
      /* 因为我放在一个div所以要用column不是row */
      align-items: center;
      height: 250px;
      /* set for box */
  }

  /* 调照片大小 */
  .card img {
      width: 90%;
      border-radius: 12px;
  }


  .card-content {
      width: 70%;
      /* set那个box小个 */
      background-color: rgb(248, 247, 247);
      padding: 10px 15px;
      border-radius: 12px;
      box-sizing: border-box;
      /* set了是为了让我在card的height ada work */
      text-align: center;
      position: relative;
      top: -45px;
      margin: auto;
      /* 给他在中间lah */
      z-index: 1
          /* ctrl那个layer的 -45小所以这个没有negative */
  }

  /* 字体的大小 间隔 颜色 */
  .card-content h3 {
      font-size: 17px;
      font-weight: 600;
      color: #717070;
      line-height: 1.4;
      margin: 0 0 15px 0;
      min-height: 80px;
  }

  .card-content a {
      color: #38a169;
      font-weight: 600;
      text-decoration: none;
      align-items: center;
      gap: 6px;
  }

  /* responsive （sokxiao） */
  @media (max-width: 900px) {
      .content {
          flex-direction: column;
          /* 让他们以column方式排 直 */
          align-items: center;
          /* 在中间 */
      }

      .card {
          width: 90%;
          max-width: 400px;
          margin-bottom: 100px;
          /* 限制宽度 不然会被拉大 */
      }

  }