body {
    max-width: 1200px;
    margin: auto;
    background-color: rgb(250, 242, 242);
    /* 老操作 */
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    gap: 50px;
}

/* 大卡 */
.card {
    position: relative;
    width: 300px;
    border-radius: 30px;
    padding: 20px;
    background-color: #ffffff;
}

/* 国家图片 */
.card img {
    width: 100%;
    border-radius: 15px;
}

/* 标题 */
.card h3 {
    font-size: 18px;
    margin: 15px 2px 8px;
    /* 上左下右 每个位置都不一样所以调三个 */
}

/* info */
.card p {
    font-size: 13px;
    color: #777;
    margin: 4px 2px 8px;
    /* 上左下右 每个位置都不一样所以调三个 */
}

/* icon 图片 */
.card .icon {
    width: 40%;
}

/* 下面的人数 */
.ppl {
    display: flex;
    align-items: center;
    gap: 6px;
}

.card .buildingicon {
    width: 15px;
}

/* 人数信息 */
.people {
    font-size: 13px;
    color: #555;
}


/* 小卡 */
.card .box {
    position: absolute;
    bottom: 20px;
    right: -80px;
    background: white;
    border-radius: 15px;
    padding: 5px 10px;
    width: 180px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
}

/* 左侧图片 */
.boximage {
    width: 150px;
    height: auto;
}

.box-content h3 {
    margin-top: -5px;
    margin-bottom: 20px;
}

.box-content p {
    color: grey;
}


.loading {
    width: 80%;
}

@media screen and (max-width: 780px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
    }

    .card {
        width: 60%;
        max-width: 300px;

    }
}