body {
    max-width: 1200px;
    margin: auto;
    background-color: #777;
    /* 老操作 */
}

/* 大卡 */
.card {
    width: 300px;
    border-radius: 30px;
    padding: 20px;
    background-color: #fff;
}

/* 国家图片 */
.card img {
    width: 100%;
    border-radius: 15px;
}

/* 标题 */
.card h3 {
    font-size: 18px;
    margin: 15px 2px 8px;
    /* 上左下右 每个位置都不一样所以调三个 */
}

/* info */
.card p {
    font-size: 13px;
    color: #777;
    margin: 4px 2px 8px;
    /* 上左下右 每个位置都不一样所以调三个 */
}

/* icon 图片 */
.card .icon {
    width: 40%;
}

/* 下面的人数 */
.ppl {
    display: flex;
    align-items: center;
    gap: 6px;
}

.card .buildingicon {
    width: 15px;
}

/* 人数信息 */
.people {
    font-size: 13px;
    color: #555;
}


/* 小卡 */
.card .box {
    position: relative;
    left: 250px;
    bottom: 110px;
    background: gold;
    border-radius: 15px;
    width: 160px;
    padding: 10px;
}

/* done */

/* 国家旗图片 */
.card .box img {
    width: 40px;
    border-radius: 8px;
}

/* 小卡文字 */
.card .box p {
    font-size: 12px;
    color: #777;
    margin: 1px 0;
}

.card .box h3 {
    font-size: 14px;
    color: #222;
    margin: 2px 0 4px;
}

/* 进度条 */
.card .box img:last-child {
    width: 90%;
}